@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

$gentlegreen: #6cc564;
$lightgentle: lighten($gentlegreen, 30%);
$darkgentle : darken($gentlegreen, 30%);
$riverblue  : #06374b;

body {
  background : #ffffff;
  color      : $riverblue;
  font-family: 'Open Sans', sans-serif;
  font-size  : 14px;
  margin     : 70px 0;
  height     : 100%
}

.chatbar {
  background: $gentlegreen;
  border-top: 1px solid $darkgentle;
  bottom    : 0;
  display   : flex;
  left      : 0;
  padding   : 5px;
  position  : fixed;
  right     : 0;
  height    : 50px;
}

.message-input,
.username-input {
  color        : $riverblue;
  border       : 1px solid $darkgentle;
  border-radius: .5em;
  display      : block;
  height       : 40px;
  line-height  : 40px;
  margin       : 5px;
  padding      : 0 9px;
}

.messages {
  min-height    : calc(100vh - 150px);
  display       : flex;
  flex-direction: column;
  align-items   : flex-start;
  overflow      : scroll;
  width         : 100%
}

.message {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  word-break: break-all;
  margin: 5px;
}

.message.system {
  font-style: italic;
  padding   : 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin  : 5px;
  padding : 5px 10px;
}

.message-content {
  height: 100%;
  background: $lightgentle;
  border-radius: 0 .5em .5em .5em;
  // flex: 8;
}

.message-username {
  // flex       : 2;
  font-weight: 700;
}

.navbar {
  color          : $riverblue;
  display        : flex;
  width          : 100%;
  justify-content: space-between;
  align-items    : center;
  background     : $gentlegreen;
  border-bottom  : 1px solid $darkgentle;
  height         : 60px;
  padding        : 0 10px;
  position       : fixed;
  top            : 0;
}

.navbar-brand {
  color          : inherit;
  display        : block;
  float          : left;
  font-weight    : 700;
  font-size      : 28px;
  height         : 60px;
  line-height    : 60px;
  padding        : 0 10px;
  text-decoration: none;
}

.navbar-online {
  margin-right: 20px;
  color       : inherit;
  font-style  : italic;
}
